body {
    background-image: url("../images/wallpaper.jpg");
    }

#startBtn {
    max-width: 800px;
    font-size: 40px;
    padding: 10px;
    padding-right:100px;
    padding-left:100px;
    color: white;
    background: grey;
    border: 2px solid black;
    text-align: center;
}

.container {
    background:white;
    text-align: center;
    height: 600px;
    margin-top:30px;
}

h1{
    text-align: center;
}

#startBtn {
    margin-top:200px;
}

.thisChoice:hover{
	background-color: black;
	color: white;
    padding: 10px;
    text-align: center;
}

/* 
.answerList {
    padding:20px;
} */

#startOverBtn:hover {
    max-width: 100%;
    font-size: 40px;
    padding: 10px;
    padding-right:100px;
    padding-left:100px;
    color: white;
    background: grey;
    border: 2px solid black;
    text-align: center;
}


